name: Build Android AAB

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - uses: android-actions/setup-android@v2
        with:
          api-level: 33

      - run: npm install
      - run: npx cap sync android
      - run: cd android && ./gradlew bundleRelease

      - uses: actions/upload-artifact@v4
        with:
          name: NOOR-AAB
          path: android/app/build/outputs/bundle/release/app-release.aab
